body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; /* Menor separaci贸n para dispositivos m贸viles */
    overflow-y: auto;
    padding: 0 10px;
    max-height: calc(100vh - 170px);  /* Espacio para header y footer */
}
.logo {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}
.logo img {
    max-width: 100%;
    max-height: 100%;
}
.logo:hover {
    transform: scale(1.1);
}
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Se mantiene fijo en dispositivos m贸viles */
    bottom: 0;
}

/* Media Queries para dispositivos m贸viles */
@media (max-width: 768px) {
    .container {
        margin-top: 140px; /* Menor margen superior */
        max-height: calc(100vh - 170px);  /* Se asegura de evitar solapamientos */
    }
    .logo {
        width: 140px;
        height: 140px;
    }
}
